
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>
<% if !@user.portfolio %>
<h1>Get Started</h1>
<div class="jumbotron">
  <div class="col-sm-offset-3">
    <h1><%= link_to 'Create Charity Portfolio', portfolio_path %></h1>
  </div>
</div>
 <% else %>
 <h1>GiveHub Dashboard</h1> <%= link_to 'Edit Charity Portfolio', portfolio_path %>
 <h3>You are $<%= @cur_change %> to your $5 donation!</h3>
 <div id="chartContainer"><%= @chart.render() %></div>
 <h3>You have donated a total of $<%= @total %></h3>
 <h4>You are donating to:</h4>
   <% @charity_list.each do |x| %>
    <%= x %><br /><br />
  <% end %>
 <% end %>
