<h1>Change Dashboard</h1>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>
<h3>You are $<%= @cur_change %> to your $5 donation!</h3>
<div id="chartContainer"><%= @chart.render() %></div>
<h3>You have donated a total of $<%= @total %></h3>

<% if @user.portfolio %>
  <%= link_to 'Edit Charity Portfolio', portfolio_path %>
<% else %>
  <%= link_to 'Create Charity Portfolio', portfolio_path %>
<% end %>
